SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-supabase-service-role-key
PRIVY_APP_ID=clt_your-privy-app-id
DEV_MODE=true
CLEANUP_INTERVAL_SEC=
BACKEND_URL=
JWT_SECRET=
BACKEND_JWT=
INTERMEDIATE_WALLET_PRIVATE_KEY=
INTERMEDIATE_WALLET_PUBLIC_KEY=